unsafe-perm=true
@acko-tech:registry=https://node-registry.bit.cloud
@teambit:registry=https://node.bit.dev

//node.bit.dev/:_authToken=3ea7f8e0-fbc9-4419-89b4-9b2c720d4e62
//node-registry.bit.cloud/:_authToken=3ea7f8e0-fbc9-4419-89b4-9b2c720d4e62