.feed-positive-container {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.back-nav {
      width: 100%;
      height: 84px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
  }
  
  .back-nav-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
  }
  
  .feed-negative-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    overflow-y: scroll;
  }
  
  .feed-negative-heading {
    font-family: Euclid Circular B;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    letter-spacing: -0.10000000149011612px;
    margin-bottom: 0px;
  }

  .feed-negative-subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4B4B4B;
    margin: 0px;
  }

  .feed-card {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    opacity: 0px;
    background-color: #FFFFFF;
  }

  .feed-card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .feed-card-header h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }

  .dot-container {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .dot-container-green {
    color: #0FA457;
  }

  .dot-container-yellow {
    color: #D16900;
  }

  .dot-container-red {
    color: #D83D37;
  }

  .dot-green {
    background-color: #0FA457;
  }

  .dot-yellow {
    background-color: #D16900;
  }

  .dot-red {
    background-color: #D83D37;
  }

  .dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .feed-footer {
    width: 100%;
  }
  
  .health-card {
      width: 100%;
      display: flex;
      margin-bottom: 48px;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 16px;
      border-radius: 16px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
    }
    
    .stat-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 33%;
    }
  
    .stat-item:first-of-type {
      border-right: 1px solid #F0F0F6
    }
  
    .stat-item:last-of-type {
      border-left: 1px solid #F0F0F6
    }
    
    .stat-icon {
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .stat-icon img {
      max-width: 100%;
      height: auto;
    }
    
    .stat-details {
      font-size: 14px;
    }
    
    .stat-label {
      color: #4B4B4B;
      margin: 0px;
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
    }
    
    .stat-value {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
    }